<div class="col-lg-3 col-md-3 col-sm-3 pull-right"> 
	<form id="searchForm" class="navbar-form navbar-left input-group" role="search"  style="margin:0px; width:100%; padding:0px; padding-right: 5px;" action="<%= action %>" method="post">
		<input id="search" type="text" class="form-control" placeholder="<%= search_string %>" name="term" autocomplete="off" />
		<span id="searchIcon" class="input-group-addon glyphicon glyphicon-search" style="cursor: pointer"></span>
	</form>
	<div id="suggest" style="position: absolute; top: 100%;">

	</div>		
</div>